# Gradle
.gradle/
build/
*/build/
**/build/

# IDE
.idea/
*.iml
.vscode/
local.properties

# Android
*.apk
*.aab
*.ap_
*.dex
captures/

# Signing
*.jks
*.keystore
*.jks.base64
*.keystore.base64

# OS
.DS_Store
Thumbs.db
